.game-board button {
  width: 80px; height: 80px;
  vertical-align: top;
  font-size: 32px;
}
.game-board button.active {
  background: red;
  color: #fff;
}

.game {
  display: flex;
}

.game-board {
  width: 240px;
  vertical-align: top;
  margin-right: 20px;

}
.game-result {
  width: 200px;
}